.profile-tab {
  width: 80%;
  margin: 5% 10%;
  display: flex;
  flex-direction: row;
}
.profile-img {
  position: absolute;
  left: 10%;
  object-fit: contain;
  width: 15%;
  height: 24%;
  border: 2px solid black;
  border-radius: 50%;
  top: 8%;
}
.details {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 30%;
  top: 14%;
}
.profile-name {
  color: blue;
  font-size: 1.5rem;
}
.profile-email {
  color: red;
  font-size: 1.5rem;
}
.profile-created-at {
  color: green;
  font-size: 1.5rem;
}
.edit-option {
  position: absolute;
  right: 15%;
  top: 15%;
  padding: 0.2% 1%;
  background-color: lightblue;
  border: 1px solid blue;
  border-radius: 7px;
  cursor: pointer;
}
.home-tab-profile {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.post-section {
  position: absolute;
  top: 40%;
}
.all-posts-title {
  position: absolute;
  left: 6%;
  top: -3%;
  font-size: 1.5rem;
  color: rgb(5 108 18 / 74%);
}